@font-face {
    font-family: Lato;
    src: url(../fonts/9622.ttf);
}
@mixin name-strict {
    font-family: Lato;
font-weight: bold;
text-align: center;
}
@mixin title-icon {
    height: 3.1em;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5em;
}
@mixin main-photos {
    height: 250px;
    width: 358px;
    
}
@mixin box-icons {
    background-repeat: no-repeat;
    background-position: center;
    padding: 19px;
    background-position-y: 31px;
    }

body{
   margin: 0%; 
   background: #f6f9f9;
   font-family: Lato;
}
.page{
    max-width: 1600px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li{list-style-type: none;
}
.presentation-company-button::-moz-focus-inner {
    border: none;}

.header{
    background: #f6f9f9;
    padding: 2em 0em 2em 16em;
    }
   
    
.trademark{
    background-image: url("../img/sing.png");
    background-size: 1.5em;
    background-repeat: no-repeat;
    padding: 1em 2em;
}
a.trademark {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 18px;
    display: block;
    color: #2d3950;
    width: 3em;
    background-position-y: center;
}

.presentation-company{
    background: url("../img/main-photo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.presentation-company-text{
    padding-top: 13.5em;
    padding-bottom: 15.5em;
    width: 40em;
    margin: auto;
    
    }
    .presentation-company-text h1{
        @include name-strict ();
        font-size: 6em;
        letter-spacing: 3px;
        color: #ffffff;
        padding-bottom: 30px;
        border-bottom: 2px solid #15a4fa;
        margin: auto;
            }
    .presentation-company-text p{
        @include name-strict ();
        font-weight: normal;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
        padding-bottom: 2em;
    }
    .position-button{
        text-align: center;
    }
    .presentation-company-button{
        @include name-strict ();
        font-weight: normal;
        font-size: 20px;
        line-height: 47px;
        background: #15a4fa;
        border: 1px solid #15a4fa;
        opacity: 1;
        color: #ffffff;
        width: 9em;
        cursor:pointer;
    }
    .description-design{
        background: #f6f9f9;
        padding-top: 3em;
        padding-bottom: 6em;
    }
    .description-design h2{
        @include name-strict ();
        font-weight: normal;
        text-align: center;
        font-size: 40px;
        letter-spacing: 1px;
        color: #2d3950;
    }
    .description-design p{
        @include name-strict ();
        font-weight: normal;
        max-width: 1138px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 32px;
        color: #999999;
        margin: auto;
    }
    .description-icon{
        padding: 2.5em 15em;
        display: flex;
        justify-content: space-around;
        background: #ffffff;
        
    }
    .column-mobile{
        max-width: 17em;
    }
    .box{
        background: linear-gradient(to right, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100% );
        height: 100px;
        width: 100px;
        margin: auto;
    }
    .mobile-icon{
        background-image: url("../img/Icon-telefon.png");
        @include title-icon ();
            }
    .description-icon-title{
        @include name-strict ();
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 1px;
        color: #2d3950;
            }
    .description-icon-text{
        @include name-strict ();
        font-weight: normal;
        font-size: 15px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #999999;
        }

        .mobile-telegram{
            background-image: url("../img/Icon-telegram.png");
            @include title-icon ();
                }
                .mobile-sound{
                    background-image: url("../img/Icon-sounds.png");
                    @include title-icon ();
                        }
    .main-photos{
        background: #f6f9f9;
        margin-bottom: 120px;
    }
    .main-photos-header{
        max-width: 590px;
        padding-top: 76px;
        margin: auto;
        padding-bottom: 82px;
    }
    .main-photos-header h2{
        font-size: 37px;
        letter-spacing: 1px;
        color: #2d3950;
        font-family: Lato;
        text-align: center;
    }
    .main-photos-header p{
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 23px;
        color: #909090;
        font-family: Lato;
        text-align: center;
            }
.main-photos-column{
    max-width: 1150px;
    margin: auto;
    display: flex;
    list-style-type: none; 
    }
    .bicycle{
                @include main-photos ();  
                                    }
    .window{position: relative;
        margin-left: 1em; 
        }

    .action-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #28a7f3;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    .window:hover .action-wrapper{
        display: flex;
        opacity: 1;
        transition: all 1s cubic-bezier(0, 0.61, 0.58, 1);
}
        
    .icon-find{
        background-image: url("../img/Icon-find.png");
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        border: 1px solid white;
        background-position: center;
        margin-right: 1em;
    }
    .icon{
        background-image: url("../img/Icon.png");
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        border: 1px solid white;
        background-position: center;
    }

    .women{
        background-image: url("../img/women.png");
        @include main-photos (); 
        background-position-x: center;
    }
    .two-cup{
        background-image: url("../img/cup.png");
        @include main-photos (); 
        background-position-y: -5em;
    }
    
      .cup{
        background-image: url("../img/cup-green.png");
        @include main-photos (); 
           }
.bicycle-center{
    background-image: url("../img/bicycle-center.png");
    @include main-photos ();
}
.bicycle-right{
    background-image: url("../img/bicycle-right.png");
    @include main-photos ();
    background-position: center;
}
.form-stay-with-us{
    background: linear-gradient(rgba(50, 61, 79, 0.9), rgba(50, 61, 79, 0.7)),  url("../img/road.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form-stay-with-us-header{
   text-align: center;
    padding-top: 72px;
    padding-bottom: 51px;
}
.form-stay-with-us-header h2{
    font-size: 41px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: Lato;
    margin: 0;
}
.form-stay-with-us-header p{
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 23px;
    color: #999999;
    font-family: Lato;
}
form{
    text-align: center;
}
.position-form{
    margin: 0 auto;
    border-radius: 20px;
        max-width: 550px;
}
.input-size{
    display: block;
    margin: auto;
    opacity: 0.3;
    width: 520px;
    margin-bottom: 20px;
    line-height: 39px;
    color: #ffffff;
    padding-left: 1em;
    font-size: 15px;
    letter-spacing: 0px;      
    font-family: Lato;  
    background: #394355;
    border: 2px solid white;
    cursor:pointer;
    }
  
   
textarea{
    opacity: 0.3;
    width: 480px;
    height: 160px;
    padding: 2em;
    font-size: 15px;
    color: #ffffff;
    background: #394355;
    border: 2px solid white;

}
.position-form input[type="submit"]{
    width: 100px;
    height: 2em;
    background: #15a4fa;
    margin-top: 20px;
    opacity: 0.9;
    border: 1px solid #15a4fa;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: Lato;
    text-align: center;
    margin-right: inherit;
    border-radius: 5px;
    cursor:pointer;
}
.position-form input[type="submit"]::-moz-focus-inner {
    border: none;}

.checkbox-submit{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 130px;
}
.position-form p.remember_me {
    line-height: 30px;
    width: 12em;
    margin-top: 1.5em;
    position: relative;
    margin-left: 1em;
}
.position-form p.remember_me label{
    font-size: 15px;
    color: #ffffff;
    font-family: Lato;
    margin: 0% auto;
    cursor: pointer;
    padding: -1em;
    margin-top: -1em;
    margin-left: -2em;
}
.position-form p.remember_me input{
    margin-top: 0.6em;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
    cursor: pointer;
    position: absolute;
    margin-left: -2em;
}
footer{
    background: #f6f9f9;
}
.footer-links{
    margin: auto;
    padding: 25px 230px;
    display: flex;
    justify-content: space-between;
}
.box-icon{
    display: flex;
}
.footer-links p{
    margin-left:left;
    font-size: 15px;
    letter-spacing: 0px;
    color: #999999;
    font-family: Lato;
    margin-top: 33px;
}
.box-f {
    height: 40px;
    width: 40px;
    background: #3b5998;
    margin-right: 0.5em;
}
.box-t {
    height: 40px;
    width: 40px;
    background: #55acee;
    margin-right: 0.5em;
}
.box-g {
    height: 40px;
    width: 40px;
    background: #dd4b39;
    margin-right: 0.5em;
}
.box-in {
    height: 40px;
    width: 40px;
    background: #0976b4;
}
.f{
    background-image: url("../img/f.png");
    @include box-icons ();
}
.t{
    background-image: url("../img/twit.png");
    @include box-icons ();
}
.g{
    background-image: url("../img/g+.png");
    @include box-icons ();
}
.in{
    background-image: url("../img/in.png");
    @include box-icons ();
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: bold
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: bold
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-weight: bold
}


@media only screen and (max-width : 768px){
    .page{
        width: 750px;
        margin: 0 auto;
    }
    .header{
        padding: 2em 0em 2em 8em;
    }
    .presentation-company-text h1{
        font-size: 3em;
    }
    .description-design p{
        margin: 0em 4em;
    }
    .description-icon{
        padding: 2.5em 3em;
    }
    .description-icon-title{
        font-size: 15px;
    }
    .description-icon-text{
        font-size: 16px;
    }
    .footer-links{
        padding: 25px 90px;
    }
    .bicycle{
        height: 189px;
        width: 208px;
    }
    
}
